p Case Registry Module

br

table
    tr
        th Field
        th Value
    tr
        td Case Description:
        td
            input(type="text", ng-model="newCase.caseDesc", placeholder="Case Description")
    tr
        td Kids' Name
        td
            input(type="text", ng-model="newCase.kidsName", placeholder="Kids Name")
    tr
        td Kids' Age
        td
            input(type="text", ng-model="newCase.kidsAge", placeholder="Kids Age")
    tr
        td Kids' UIN
        td
            input(type="text", ng-model="newCase.UIN", placeholder="Kids UIN")

br
button(ng-click="addCase()") Add Case